<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SturmProjekt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup  useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <SturmProjekt.Properties.Settings>
            <setting name="DataPath" serializeAs="String">
                <value>I:\Clemens-Projekt\SturmProjekt\SturmProjekt\SturmProjekt\Database</value>
            </setting>
            <setting name="ProfilePath" serializeAs="String">
                <value>I:\Clemens-Projekt\SturmProjekt\SturmProjekt\SturmProjekt\Profiles</value>
            </setting>
            <setting name="TessDataPath" serializeAs="String">
                <value>I:\Clemens-Projekt\SturmProjekt\SturmProjekt\SturmProjekt\Content\tessdata</value>
            </setting>
        </SturmProjekt.Properties.Settings>
    </applicationSettings>
</configuration>